@tailwind base;
@tailwind components;
@tailwind utilities;

/* USB scroll bar */
/* Custom Scrollbar Styles for #outputDiv */
#outputDiv::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    /* Width of the scrollbar */
}

#outputDiv::-webkit-scrollbar-track {
    background: #2a292a;
    border-radius: 4px;
    /* Color of the scrollbar track */
}

#outputDiv::-webkit-scrollbar-thumb {
    background: #6366f1;
    /* Color of the scrollbar thumb */
    border-radius: 4px;
    /* Optional: to make the thumb rounded */
}

#outputDiv::-webkit-scrollbar-thumb:hover {
    opacity: 0.8;
    /* Color of the scrollbar thumb on hover */
}